.cart {
  position: fixed;
  top: 58px;
  right: 0;

  width: 20%;
  min-width: 400px;
  height: calc(100vh - 56px);

  background-color: white;

  border-left: 1px solid #ddd;

  padding: 20px;

  overflow-y: auto;

  z-index: 1000;
}
.cartheader{
 display: flex;
 justify-content: center;
 margin-top: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.purchase{
  display: flex;
  justify-content: center;
}
.heading-border{
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}





